{{ define "index/index.html"}}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container div {
      text-align: center;
      box-sizing: border-box;
      padding: 20px;
      background: #CCE8CF;
      min-height: 35px;
      margin: 5px 10px 0 0;
      cursor: pointer;
      padding: 10px 0 0 12px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px #F6C
    }

    .container :nth-child(even) {
      background-color: #DDEADF;
    }
  </style>
</head>

<body>
  <div class="container">
    <div><a href="/gallery/list">gallery list</a></div>
    <div><a href="/gallery/upload">gallery upload</a></div>
    <div><a href="/files/list">all files</a></div>
    <div><a href="/bbs/list">bbs</a></div>
  </div>
</body>

</html>

{{ end }}